<a href="https://colab.research.google.com/github/jasJD/COMP-593/blob/main/Lab%204%20incomplete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import sqlite3


myConnection = sqlite3.connect('social_network.db')


myCursor = myConnection.cursor()

#The Primary Key column has been provided for you,
#Replace '#!...' with the remaining column names, datatypes, and foreign key declarations.
#Use the Lecture notes and the previous lab if you are unsure.
createRelationshipsTable = """CREATE TABLE IF NOT EXISTS relationships(
                          id integer PRIMARY KEY NOT NULL,
                          user_id integer NOT NULL,
                          friend_id integer NOT NULL,
                          FOREIGN KEY (user_id) REFERENCES people (id),
                          FOREIGN KEY (friend_id) REFERENCES people (id)
                        );"""

#Once again, we will execute the query, persist the changes, and close our connection.
myCursor.execute(createRelationshipsTable)
myConnection.commit()
myConnection.close()

In [26]:
import sqlite3
from datetime import datetime #For generating dates and times
from random import randrange #For generating random numbers within a range
myConnection = sqlite3.connect('social_network (1).db')
myCursor = myConnection.cursor()

addRelationshipQuery = """INSERT INTO relationships(user_id, friend_id)

                      VALUES (?,?);"""
                      
for _ in range(1000):
 
 
  user_id = randrange(1, 1000)
 
  
  friend_id = user_id
  while friend_id == user_id:
    friend_id = randrange(1,1001)

  args = (user_id, friend_id)
  
myCursor.execute(addRelationshipQuery, args)

myConnection.commit()
myConnection.close()

OperationalError: ignored

In [12]:
import sqlite3
from pprint import pprint

myConnection = sqlite3.connect('social_network.db')
myCursor = myConnection.cursor()

selectStatement = """Select * FROM relationships
                     LIMIT 20;"""


myCursor.execute(selectStatement)
results = myCursor.fetchall()
pprint(results)

myConnection.close()

OperationalError: ignored